html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav .nav-link {
    color: #182978 !important;
}

.navbar-nav .nav-item.active .nav-link {
    color: #182978 !important;
}

.navbar {
    background-color: white !important;
}

.icon-style {
    color: #182978 !important;
}

.img-fluid {
    width: 10% !important;
    position: absolute;
    margin-top: -15px;
    height: auto;
}


.custom-footer {
    padding: 10px 0;
    height: 40px;
}

.footer-font {
    margin-top: -20px;
    font-size: 12px;
    margin-left: 10px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -30px;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.header {
    text-align: center;
    color: #182978;
}
.save-button {
    margin-top: 20px;
}

.cancel-button {
    margin-top: 22px;
    margin-left: 15px;
}